.Navbar {
  background-color: transparent;
  box-shadow: none;
  color: #666666;
  font-weight: 400;
  padding: 0px !important;
  font-family: "Roboto";
}

@media (min-width: 990px) {
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

.NavbarMobileMenu {
  background: transparent;
  border: none !important;
  box-shadow: none;
}

.NavbarMobileMenu:focus {
  box-shadow: none !important;
}
